body {
    background: #FFFFFF;
}

header {
    text-align: center;
    position: relative;
    max-width: 480px;
    padding: 15px 0px;
    margin: 10px auto;
}

#logo-principal {
    position: relative;
    width: 35%;
    height: 35%;
    clip-path: circle(50% at 50% 50%);
    margin: 10px;
}

#convite {
    font-size: 20px;
    font-weight: bold;
}

#nome{
    color: #F20B8D;
}

h1, h2 {
    font-family: 'Bebas Neue', serif;
    color: #2e2e2e;
}


h2 {
    font-size: 48px;
    margin: 10px;
}

p {
    width: 100%
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color:#1f1f1f;
    text-align: center;
}

main {
    margin: 25px;
    text-align: center;
}

form {
    max-width: 480px;
    margin: auto;
    display: block;
}

form label {
    margin: 10px auto;
    display: block;
    color: #000000;
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 8px;
}
  


form label input {
    text-align: left;
    display: inline;
    width: 90%;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 18px;
}

.botao-form {
    margin: 10px auto;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    background: #F20B8D;
    padding: 15px 0;
    color: #FFFFFF;
    border: 1px solid #8c0a54;
    border-radius: 8px;
    box-shadow: 0 1px 2px #F20B8D15, 0 2px 4px #F20B8D15, 0 4px 8px #F20B8D15, 0 8px 16px #F20B8D15, 0 16px 32px #F20B8D15, 0 32px 64px #F20B8D15;
}

.botao-form:hover {
    background: #d40b7d;
}
